<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %> 
        
        <div class="about content">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro sit ipsam quisquam! Impedit laborum alias voluptas magnam eius maiores dicta reiciendis cumque, totam consequuntur est earum dolores nobis corrupti.</p>
        </div>

    <%- include('./partials/footer.ejs') %> 

</body>
</html>